.row {
  margin: 0;
  .col-12 {
    padding: 0;
  }

.b-navbar {
  width: 100%;
  float: left;
  border-bottom: 1px solid black;
  .navbar_left {
    width: 30%;
    float: left;
    img {
      height: 120px;
    }
  }
}
  .navbar_right {
    float: left;
    width: 70%;
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      margin-left: 60px;
      li {
        float: left;
        list-style: none;
        margin: 0 40px;
        line-height: 120px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
